<% provide(:title, 'Sign up') %>
<% provide(:password_confirm_label, 'Confirmation') %>
<% provide(:submit_button, 'Create my account') %>

<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<%= render 'form' %>
	</div>
</div>
